extends layout

block links
	link(type="text/css" rel="stylesheet" href="/styles/cover.css")

block content

	.site-wrapper
		.site-wrapper-inner
			.cover-container
				.carousel.slide#carousel(data-ride="carousel")
					//- ol.carousel-indicators
					//- 	li.active(data-target="#carousel" data-slide-to="0")
					//- 	li(data-target="#carousel" data-slide-to="1")
					//- 	li(data-target="#carousel" data-slide-to="2")
					.carousel-inner
						.item.active
							.inner.cover
								h1.cover-heading Consolidate all of your pet information
								p.lead Centralize all of the information for all of your pets.  No more digging through old files and stacks of paper.
								//- p.lead
						.item
							.inner.cover
								h1.cover-heading Improved veterinary care
								p.lead Track what's happening to your pet and when, and let your vet get up to speed at the click of a button.
								//- p.lead
						.item
							.inner.cover
								h1.cover-heading Know your pets are well cared for when you have to be away
								p.lead Make sure your pet sitter always has the proper information to care for your pets.  Let them keep you up to date on everything that's happening back at home.
								//- p.lead

					//- a.left.carousel-control(href="#carousel" data-slide="prev")
					//- 	span.glyphicon.glyphicon-chevron-left
					//- a.right.carousel-control(href="#carousel" data-slide="next")
					//- 	span.glyphicon.glyphicon-chevron-right
