extends layout

block content							
		.content.col-xs-12
			div.first.col-xs-12.jumbotron
				p Pet Owner Dashboard Content Section
				img(src="http://placehold.it/350x150")
			div.second.col-xs-12.jumbotron
				img(src="http://placehold.it/350x150")
				p  Vet Interaction Section
			div.third.col-xs-12.jumbotron
				p Pet Sitter Content Section
				img(src="http://placehold.it/350x150")
			div.fourth.col-xs-12.jumbotron
				img(src="http://placehold.it/350x150")
				p Fourth Content Section

		