doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(type="text/css" rel="stylesheet" href="/styles/main.css")
		title Working Title

	body
		block content
		
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
	script(src="/scripts/main.js")