doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(type="text/css" rel="stylesheet" href="/styles/main.css")
		title Better Pets

	body
		nav.navbar.navbar-default(role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") 
						strong Better Pets | 
						small Have better pets by being better for your pet
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					block search
					ul.nav.navbar-nav.navbar-right
						li.active
							button.btn.btn-default.navbar-btn(data-toggle="modal" data-target="#signinModal") Sign-In
						li.active
							button.btn.btn-default.navbar-btn(data-toggle="modal" data-target="#signupModal") Sign-Up
						li.active
							button.btn.btn-default.navbar-btn
								a(href="/auth/logout") Logout
		.container
			block content
			//- footer.navbar-fixed-bottom
			//- 	.container-fluid
			//- 		p Footer Section

		.modal.fade#signinModal(tabindex="-1" role="dialog" aria-labeledby="signinModalLabel" aria-hidden="true")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
						h4.modal-title#signinModalLabel Sign In
					.modal-body
						form.form-signin(method="post" action="/auth/login")
							h2.form-signin-heading Please Login
							input.form-control(type="text" name="username" placeholder="User Name" required="" autofocus="autofocus")
							input.form-control(type="password" name="password" placeholder="Password" required="")
							label.checkbox Remember me
								input#rememberMe(type="checkbox" value="remember-me" name="remember-me")
								button.btn.btn-lg.btn-primary.btn-block(type="submit") Login
					.modal-footer
		.modal.fade#signupModal(tabindex="-1" role="dialog" aria-labeledby="signupModalLabel" aria-hidden="true")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
						h4.modal-title#signupModalLabel Sign Up
					.modal-body
						form.form-signin(method="post" action="/auth/signup")
							h3.form-signin-heading Please provide the following information to establish your account
							input.form-control(type="text" name="firstName" placeholder="First Name" required="" autofocus="autofocus")
							input.form-control(type="text" name="lastName" placeholder="Last Name" required="")
							input.form-control(type="text" name="username" placeholder="User Name" required="")
							input.form-control(type="text" name="email" placeholder="Email" required="")
							select.form-control(name="role" required="")
								option(value="owner") Owner
								option(value="sitter") Pet Sitter
								option(value="veterinarian") Veterinarian
							input.form-control(type="password" name="password" placeholder="Password" required="")

							button.btn.btn-lg.btn-primary.btn-block(type="submit") Login
					.modal-footer

		//- Handlebars Templates
		script#log-display(type="text/x-handlebars-template")
			div
				ul.list-unstyled
					li: h4 {{symptom}}
					li: p {{description}}
					li: p {{date}}
		script#search-results(type="text/x-handlebars-template")
			div
				h4 {{name}}
				p Age: {{age}}
				p Breed: {{breed}}
				p Owner: {{owner.firstName}} {{owner.lastName}}

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="/scripts/main.js")