extends layout

block content
	.sitter-head.text-center
		h1.information #{user.firstName} #{user.lastName}

	.search.col-xs-4
		.panel.panel-success
			.panel-heading
			.panel-body
				form#searchForm(role="search")
					.form-group
						input#petBox.form-control(type="text" placeholder="Pet's Name" required="")
						input#ownerBox.form-control(type="text" placeholder="Owner's Last Name" required="")
						button#searchBtn.btn.btn-default(type="submit") Search 
							span.glyphicon.glyphicon-search
				.search-results.xs-12
	.pet-schedule.col-xs-8
		.panel.panel-success
			.panel-heading
				h2 Daily Schedule
			.panel-body
				ul.list-unstyled.schedule-list