extends layout

block content
	h1 Veterinarian Page

	.search.xs-6.pull-right
		form#searchForm.navbar-form.navbar-left(role="search")
			.form-group
				input#petBox.form-control(type="text" placeholder="Pet's Name" required="")
				input#ownerBox.form-control(type="text" placeholder="Owner's Last Name" required="")
				button#searchBtn.btn.btn-default(type="submit") Search
		.search-results.xs-12

	script#search-results(type="text/x-handlebars-template")
		div
			h4 {{name}}
			p Age: {{age}}
			p Breed: {{breed}}
			p Owner: {{owner.firstName}} {{owner.lastName}}