extends layout

block content
	.col-xs-12
		ul.nav.nav-tabs
			li.active
				a(href="#info" data-toggle="tab") Info
			li
				a(href="#appt" data-toggle="tab") Appointment
		.tab-content
			.tab-pane.fade.in.active#info
					.col-xs-12
						h1.text-center.username #{user.firstName} #{user.lastName}
					.col-sm-6
						.col-xs-12
							.col-xs-6
								img.img-responsive(src="http://thesimplephysicist.com/wp-content/uploads/2014/05/default-avatar.jpg")
							.col-xs-6.information
								p Vet Info
						.col-xs-12.margin-top
							.col-xs-12.panel.panel-default
								.panel-heading
									p.panel-title Emails
								.panel-body
					.col-sm-6
						.col-xs-12.panel.panel-default
							.panel-heading
								p.panel-title Today's Appts
							.panel-body
						.col-xs-12.panel.panel-default
							.panel-heading
								p.panel-title Follow-Up Items
							.panel-body

			.tab-pane.fade#appt
				.col-sm-6.margin-top
					.search.col-xs-10
						.panel.panel-default
							.panel-heading
								.panel-title Find Pet Information
							.panel-body
								form#searchForm(role="search")
									.form-group
										input#petBox.form-control(type="text" placeholder="Pet's Name" required="")
										input#ownerBox.form-control(type="text" placeholder="Owner's Last Name" required="")
										button#searchBtn.btn.btn-default(type="submit") Search 
											span.glyphicon.glyphicon-search
								.search-results.xs-12
					.observations.col-xs-10
						.panel.panel-default
							.panel-heading
								.panel-title Appointment Notes
							.panel-body
								button.btn.btn-default#new-session Create New Session
								p This will be a form for the vet to enter all relevent medical information relating to this appointment.

					
				.col-sm-6.margin-top
					.col-xs-12.medical-history
						.panel.panel-default
							.panel-heading
								.panel-title Medical medical-history
							.panel-body
					.pet-medical.col-xs-12
						.panel.panel-default
							.panel-heading
								.panel-title Recent Symptoms
							.panel-body
								ul.current-symptoms.list-unstyled








