body{
	background: url("http://i492.photobucket.com/albums/rr289/btix/sky_blue_background.png");
	background-size: 100% 100%;
	padding-bottom: 70px;
}
/*.header{
	background-color: cadetblue;
	border-radius: 5px;
}*/
.content div{
	border-radius: 10px
}
.first{
	background-color: #E5FEFE;
}
.first *{
	float: right;
}
.second{
	background-color: #CBFDFE;
}
.third{
	background-color: #5F9EA0;
}
.third *{
	float: right;
}
.fourth{
	background-color: #426E6F;
}
.footer{
	background-color: #A1A1A1;
}